* {
    padding: 0;
    margin: 0;
}

/* ----Generales----*/

h1 {
    font-family: "Lilita One", cursive;
    text-transform: uppercase;
}

h2 {
    font-family: "Lilita One", cursive;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    padding: 100px 0px 50px 0px;
}

h3 {
    font-family: "Lilita One", cursive;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
}

h4 {
    font-family: "Lilita One", cursive;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 40px;
}

h5 {
    font-family: "Lilita One", cursive;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}


p {
    font-family: "DM Sans", sans-serif;
}

.back-darkblue {
    background-color: #0C0B24;
    color: white;
}

.back-purple {
    background-color: #5D5FF0;
    color: white;
}


/* ----Nav----*/

.navbar {
    background-color: black;
    padding: 0px 80px;
    font-family: "DM Sans", sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.navbar img {
    width: 80px;
    padding: 10px 0px;
}

.navbar li {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: bold;
}

.navbar-dark {
    color: white;
}

.nav-link {
    padding: 0px;
}

.inicio-sesion li {
    padding: 0px 20px;
}

.active {
    color: black;
}


/* ----Somos Ninjas----*/

.home-somos-ninjas h2 {
    display: none;
}

.somos-ninjas-left {
    background-image: url(../images/home-somos-background-left.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    height:604px;
}

.somos-ninjas-left img{
    padding: 160px 40px;
}

.somos-ninjas-right {
    height:604px;
    background-image: url(../images/home-somos-background-right.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}


/*---Ninjas Autenticos---*/
.autenticos {
    color: white
}

.parallax-background {
    height:504px;
    background-image: url(../images/autenticos-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top:-60px;
    position: relative;
    margin-left: 0px;
}

.parallax-background img {
    width: 480px;
    padding: 50px 10px 0px 10px;
    text-align:center;
    position: absolute;
}

.parallax-background h4 {
    z-index: 1;
    text-align:center;
    text-shadow: 2px 0px 15px #0000005f;
}

.separador {
    margin-top:-60px;
    z-index: 1;
    padding: 0px;
}

.separador img {
    width: 100%;
}

/*---Hacen---*/
.hacen-container {
    height: 1060px;
}

.hacen img {
    padding: 40px 0px;
    width: 90%;
}

.hacen-card {
    background-image: url(../images/hacen-card-background.jpeg);
    width: 90%;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}

.hacen-card p {
    font-family: "Lilita One", cursive;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

/*---Queremos---*/
.que-queremos-container {
    height: 410px;
    z-index: 2;
}

.que-queremos-separador {
    background-color: transparent;
}

.que-queremos-separador img{
    margin-top: -5px;
    padding: 0px;
    width: 100%;
}

.queremos h2 {
    display: none;
}

.que-queremos-container h2 {
    color: white;
    padding-bottom: 40px;
}

.queremos {
    height: 570px;
    background-image: url(../images/queremos-background-xl-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -150px;
}

/*---Mindset Ninja---*/
.mindset-container {
    height: 800px;
    margin-top: -110px;
    background-image: url(../images/mindset-separador-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.mindset-container h2 {
    padding-bottom: 32px;
}
/* 
.mindset-row-content {
    height: 600px;
    background-color: #5D5FF0;
} */

.mindset-container img {
    padding-bottom: 32px;
    width: 140px;
}

.mindset-separador {
    background-color: transparent;
    padding: 0px;
}

.mindset-separador img {
    background-color: transparent;
    width: 100%;
    padding: 0px;
    margin-bottom: -5px;
}


/*---Footer---*/.

footer {
    margin: 100px;
}

footer img {
    height: 80px;
    padding: 16px;
}

.iconos-redes {
    width: 50px;
}

.footer-barra-abajo {
    height: 56px;
    font-size: 10px;
}

.footer-barra-arriba {
    font-size: 14px;
}

footer a {
    padding: 16px 0px;
    text-decoration: none;
    color: white;
}

.footer-barra-arriba a:hover {
    color: #5D5FF0;
}

.footer-barra-abajo a:hover {
    color: black;
}

/*---Pase Ninja---*/
.pase-ninja {
    height: 604px;
}



/*MEDIA QUERIES*/

/*----1200----*/
@media (max-width: 1200px){
    .navbar li {
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .navbar {
        padding: 0px !important;
    }

    .navbar>div {
        margin: 0px 0px !important;
    }

    .parallax-background {
        margin-top:-50px;
    }

    .separador {
        margin-top:-48px;
    }
}

/*----1024----*/
@media (max-width: 1024px){


    .parallax-background {
        margin-top:-50px;
    }

    .separador {
        margin-top:-48px;
    }
}


/*----992----*/
@media (max-width: 992px){
    .nav-link{
        padding: 10px 0px;
    }

 /*    .item-final{
        margin-bottom: 20px;
    } */
    
    .parallax-background {
        margin-top:-40px;
    }

    .separador {
        margin-top:-42px;
    }
}

/*----768----*/
@media (max-width: 768px){
    
    .parallax-background {
        margin-top:-30px;
    }

    .separador {
        margin-top:-32px;
    }
}


/*----576----*/
@media (max-width: 576px){
    
    .parallax-background {
        margin-top:-30px;
    }

    .separador {
        margin-top:-32px;
    }

}